adept-api/src/main/resources/adept/io/AWAKE.xsd

<!--Copyright 2014  Raytheon BBN Technologies Corp. All Rights Reserved. -->

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="passage" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="corpus_id" type="xs:string" use="optional"/>
			<xs:attribute name="corpus_name" type="xs:string" use="optional"/>
			<xs:attribute name="corpus_type" type="xs:string" use="optional"/>
			<xs:attribute name="document_capture_date" type="xs:dateTime" use="required"/>
			<xs:attribute name="document_genre" type="xs:string" use="optional"/>
			<xs:attribute name="document_headline" type="xs:string" use="optional"/>
			<xs:attribute name="document_id" type="xs:unsignedLong" use="required"/>
			<xs:attribute name="document_language" type="xs:string" use="optional"/>
			<xs:attribute name="document_name" type="xs:string" use="required"/>
			<xs:attribute name="document_publication_date" type="xs:dateTime" use="optional"/>
			<xs:attribute name="document_split_id" type="xs:unsignedLong" use="required"/>
			<xs:attribute name="document_type" type="xs:string" use="optional"/>
			<xs:attribute name="document_uri" type="xs:string" use="optional"/>
			<xs:attribute name="source_uri" type="xs:string" use="optional"/>
			<xs:attribute name="source_language" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[a-z][a-z]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="passage_content">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="40000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="passage">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="passage_content">
					<xs:attribute name="passage_duration" type="xs:decimal" use="optional"/>
					<xs:attribute name="passage_id" type="xs:unsignedLong" use="required"/>
					<xs:attribute name="passage_start_offset" type="xs:decimal" use="optional"/>
					<xs:attribute name="speaker" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>