adept-api/src/main/resources/adept/common/context.xsd

<!--Copyright 2014  Raytheon BBN Technologies Corp. All Rights Reserved. -->

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by ELIO QUERZE (RAYTHEON BBN TECHNOLOGIES) -->
<!--W3C Schema generated by XMLSpy v2013 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="adept.common.Argument">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="argumentType"/>
				<xs:element ref="argumentDistribution"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.BoundedList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="default"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Coreference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="coreferenceId"/>
				<xs:element ref="entities"/>
				<xs:element ref="resolvedEntityMentions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Dependency">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="governor"/>
				<xs:element ref="dependent"/>
				<xs:element ref="dependencyType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Entity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="entityId"/>
				<xs:element ref="canonicalMention"/>
				<xs:element ref="entityType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.EntityMention">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="mentionType"/>
				<xs:element ref="entityType"/>
				<xs:element ref="sequenceId"/>
				<xs:element ref="entityIdDistribution" minOccurs="0"/>
				<xs:element ref="context"/>
				<xs:element ref="contextSize"/>
			</xs:sequence>
			<xs:attribute name="reference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.HltContentContainer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="coreferences"/>
				<xs:element ref="sentences"/>
				<xs:element ref="entityMentions"/>
				<xs:element ref="namedEntities"/>
				<xs:element ref="partOfSpeechs"/>
				<xs:element ref="dependencies"/>
				<xs:element ref="relations"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Pair">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="l"/>
				<xs:element ref="r"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.PartOfSpeech">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="posTag" minOccurs="0"/>
				<xs:element ref="sequenceId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Relation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="tupleType"/>
				<xs:element ref="arguments"/>
				<xs:element ref="confidence"/>
				<xs:element ref="context"/>
				<xs:element ref="contextSize"/>
				<xs:element ref="relationId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Sentence">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="sequenceId"/>
				<xs:element ref="uncertaintyConfidence"/>
				<xs:element ref="noveltyConfidence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Token">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="charOffset"/>
				<xs:element ref="sequenceId"/>
				<xs:element ref="tokenType"/>
				<xs:element ref="lemma" minOccurs="0"/>
				<xs:element ref="confidence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.TokenStream">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="default"/>
				<xs:sequence>
					<xs:element ref="unserializable-parents"/>
					<xs:element ref="list"/>
					<xs:element ref="adept.common.TokenStream"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="serialization">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="custom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="argumentDistribution">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="unserializable-parents"/>
				<xs:element ref="list"/>
				<xs:element ref="adept.common.BoundedList"/>
			</xs:sequence>
			<xs:attribute name="serialization" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="custom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="arguments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Argument" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="argumentType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
			</xs:sequence>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="adept.common.Type"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="begin" type="xs:short"/>
	<xs:element name="canonicalMention">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="mentionType"/>
				<xs:element ref="entityType"/>
				<xs:element ref="sequenceId"/>
				<xs:element ref="context"/>
				<xs:element ref="contextSize"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="channelName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NONE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="charOffset">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="begin"/>
				<xs:element ref="end"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="confidence">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0.0"/>
				<xs:enumeration value="0.6240778"/>
				<xs:enumeration value="0.82738376"/>
				<xs:enumeration value="0.8452055"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contentType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="TEXT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="context" type="xs:string"/>
	<xs:element name="contextSize">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="coreferenceId">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="coreferences">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Coreference"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="default">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="maxSize"/>
				<xs:element ref="size"/>
				<xs:sequence>
					<xs:element ref="channelName"/>
					<xs:element ref="contentType"/>
					<xs:element ref="document"/>
					<xs:element ref="language"/>
					<xs:element ref="textValue"/>
					<xs:element ref="tokenizerType"/>
					<xs:element ref="transcriptType"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="dependencies">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Dependency" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dependencyType" type="xs:string"/>
	<xs:element name="dependent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="docId">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="docType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Text"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="document">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="docId"/>
				<xs:element ref="docType"/>
				<xs:element ref="uri"/>
				<xs:element ref="language"/>
				<xs:element ref="tokenStreamList"/>
			</xs:sequence>
			<xs:attribute name="reference">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="../../../../.."/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="end" type="xs:short"/>
	<xs:element name="entities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Entity" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="entityId" type="xs:byte"/>
	<xs:element name="entityIdDistribution">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entry"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="entityMentions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.EntityMention" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="entityType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="reference" type="xs:string"/>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="adept.common.Type"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="entry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="long"/>
				<xs:element ref="float"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="float">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="1.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="governor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="id">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element ref="id"/>
				<xs:element ref="idStr"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="idStr" type="xs:string"/>
	<xs:element name="int">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="10"/>
				<xs:enumeration value="200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="l">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
			</xs:sequence>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="adept.common.Chunk"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="language">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="English"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lemma" type="xs:string"/>
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="default"/>
				<xs:element ref="int"/>
				<xs:choice>
					<xs:element ref="adept.common.Pair"/>
					<xs:element ref="adept.common.Token" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="long" type="xs:byte"/>
	<xs:element name="maxSize">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="mentionType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
			</xs:sequence>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="adept.common.Type"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="namedEntities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.EntityMention" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="noveltyConfidence">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="partOfSpeechs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.PartOfSpeech" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="posTag">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
			</xs:sequence>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="adept.common.Type"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="r">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_r">
					<xs:attribute name="class" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="float"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="relationId">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="relations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Relation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="resolvedEntityMentions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.EntityMention" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sentences">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Sentence" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sequenceId" type="xs:short"/>
	<xs:element name="size">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="1"/>
				<xs:enumeration value="163"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ST_r">
		<xs:restriction base="xs:decimal">
			<xs:enumeration value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="textValue" type="xs:string"/>
	<xs:element name="tokenizerType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="OTHER"/>
				<xs:enumeration value="STANFORD_CORENLP"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tokenOffset">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="begin"/>
				<xs:element ref="end"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tokenStream">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="unserializable-parents"/>
				<xs:element ref="list"/>
				<xs:element ref="adept.common.TokenStream"/>
			</xs:sequence>
			<xs:attribute name="serialization">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="custom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="reference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tokenStreamList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.TokenStream"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tokenType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="LEXEME"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="transcriptType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SOURCE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tupleType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
			</xs:sequence>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="adept.common.Type"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="type" type="xs:string"/>
	<xs:element name="uncertaintyConfidence">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="unserializable-parents">
		<xs:complexType/>
	</xs:element>
	<xs:element name="uri" type="xs:string"/>
	<xs:element name="value" type="xs:string"/>
</xs:schema>