adept-api/src/main/resources/adept/common/HLTCC_jun9_old.xsd

<!--Copyright 2014  Raytheon BBN Technologies Corp. All Rights Reserved. -->

<?xml version="1.0" encoding="UTF-8"?>


<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by ELIO QUERZE (RAYTHEON BBN TECHNOLOGIES) -->
<!--W3C Schema generated by XMLSpy v2013 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="adept.common.Argument">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value" minOccurs="0"/>
				<xs:element ref="argumentType"/>
				<xs:element ref="argumentDistribution"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.BoundedList">
		<xs:complexType>
			<xs:sequence>
				<xs:any/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Chunk">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.CommittedBelief">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="charOffset"/>
				<xs:element ref="modality"/>
				<xs:element ref="sequenceId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Coreference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="coreferenceId"/>
				<xs:element ref="entities" minOccurs="0"/>
				<xs:element ref="resolvedEntityMentions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Dependency">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="governor"/>
				<xs:element ref="dependent"/>
				<xs:element ref="dependencyType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Entity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="algorithmName" minOccurs="0"/>
				<xs:element ref="entityId"/>
				<xs:element ref="canonicalMention"/>
				<xs:element ref="entityType" minOccurs="0"/>
				<xs:element ref="kbEntityDistribution" minOccurs="0"/>
				<xs:element ref="typeInformation" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.EntityMention">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="charOffset"/>
				<xs:element ref="mentionType" minOccurs="0"/>
				<xs:element ref="entityType" minOccurs="0"/>
				<xs:element ref="sequenceId"/>
				<xs:element ref="entityIdDistribution" minOccurs="0"/>
				<xs:element ref="context" minOccurs="0"/>
				<xs:element ref="contextSize" minOccurs="0"/>
				<xs:element ref="docId" minOccurs="0"/>
				<xs:element ref="tokenizerType" minOccurs="0"/>
				<xs:element ref="attributes" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="reference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.HltContentContainer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="coreferences" minOccurs="0"/>
				<xs:element ref="sentences" minOccurs="0"/>
				<xs:element ref="passages" minOccurs="0"/>
				<xs:element ref="entityMentions" minOccurs="0"/>
				<xs:element ref="namedEntities" minOccurs="0"/>
				<xs:element ref="partOfSpeechs" minOccurs="0"/>
				<xs:element ref="dependencies" minOccurs="0"/>
				<xs:element ref="syntacticChunks" minOccurs="0"/>
				<xs:element ref="taggedChunks" minOccurs="0"/>
				<xs:element ref="relations" minOccurs="0"/>
				<xs:element ref="jointRelationCoreferences" minOccurs="0"/>
				<xs:element ref="opinions" minOccurs="0"/>
				<xs:element ref="prosodicPhrases" minOccurs="0"/>
				<xs:element ref="sarcasms" minOccurs="0"/>
				<xs:element ref="committedBeliefs" minOccurs="0"/>
				<xs:element ref="utterances" minOccurs="0"/>    
				<xs:element ref="messages" minOccurs="0"/>
				<xs:element ref="interPausalUnits" minOccurs="0"/>
				<xs:element ref="events" minOccurs="0"/>
				<xs:element ref="eventRelations" minOccurs="0"/>
				<xs:element ref="sessions" minOccurs="0"/>
				<xs:element ref="timePhrases" minOccurs="0"/>
				<!-- these do not appear in Java source code -->
				<xs:element ref="paraphrases" minOccurs="0"/>
				<xs:element ref="triples" minOccurs="0"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- TODO - complete definitions of the following types as needed.  -->
	<xs:element name="taggedChunks" substitutionGroup="any"/>
	<xs:element name="jointRelationCoreferences" substitutionGroup="any"/>
	<xs:element name="prosodicPhrases" substitutionGroup="any"/>
	<xs:element name="messages" substitutionGroup="any"/>
	<xs:element name="interPausalUnits" substitutionGroup="any"/>
	<xs:element name="events" substitutionGroup="any"/>
	<xs:element name="eventRelations" substitutionGroup="any"/>
	<xs:element name="sessions" substitutionGroup="any"/>
	<xs:element name="timePhrases" substitutionGroup="any"/>	
	<!-- -->
	<xs:element name="adept.common.Opinion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="charOffset"/>
				<xs:element ref="subjectivity"/>
				<xs:element ref="polarity" minOccurs="0"/>
				<xs:element ref="opinionId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Pair">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="l"/>
				<xs:element ref="r"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Paraphrase">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="confidence"/>
				<xs:element name="posTag" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.PartOfSpeech">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="charOffset"/>
				<xs:element ref="posTag" minOccurs="0"/>
				<xs:element ref="sequenceId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Passage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="charOffset"/>
				<xs:element ref="sequenceId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Relation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element name="tupleType" minOccurs="0"/>
				<xs:element name="relationType" minOccurs="0"/>
				<xs:element name="type" minOccurs="0"/>
				<xs:element ref="arguments"/>
				<xs:element ref="confidence"/>
				<xs:element ref="context" minOccurs="0"/>
				<xs:element ref="contextSize" minOccurs="0"/>
				<xs:element ref="relationId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Sarcasm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="charOffset"/>
				<xs:element ref="sarcasmId"/>
				<xs:element ref="judgment"/>
				<xs:element ref="confidence"/>
				<xs:element ref="context" minOccurs="0"/>
				<xs:element ref="contextSize" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Sentence">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="charOffset"/>
				<xs:element ref="sequenceId"/>
				<xs:element ref="uncertaintyConfidence"/>
				<xs:element ref="noveltyConfidence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.SyntacticChunk">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="charOffset"/>
				<xs:element ref="scType"/>
				<xs:element ref="sequenceId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Token">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="charOffset"/>
				<xs:element ref="sequenceId"/>
				<xs:element ref="tokenType" minOccurs="0"/>
				<xs:element ref="lemma" minOccurs="0"/>
				<xs:element ref="confidence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.TokenStream">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="default" minOccurs="0"/>
				<xs:sequence>
					<xs:element ref="unserializable-parents"/>
					<xs:element ref="list"/>
					<xs:element ref="adept.common.TokenStream"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="serialization" type="xs:string"/>
			<xs:attribute name="reference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Triple">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity"/>
				<xs:element ref="slot"/>
				<xs:element ref="tvalue"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Utterance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="charOffset"/>
				<xs:element ref="utteranceId"/>
				<xs:element ref="speakerId"/>
				<xs:element ref="utterance"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="algorithmName" type="xs:string"/>
	<xs:element name="any" type="xs:anyType"/>
	<xs:element name="argumentDistribution">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="unserializable-parents"/>
				<xs:element ref="list"/>
				<xs:element ref="adept.common.BoundedList"/>
			</xs:sequence>
			<xs:attribute name="serialization" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="custom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="arguments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Argument" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="argumentType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="adept.common.Type"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="reference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="attributes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entry" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="begin" type="xs:long"/>
	<xs:element name="canonicalMention">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="charOffset" minOccurs="0"/>
				<xs:element ref="mentionType" minOccurs="0"/>
				<xs:element ref="entityType" minOccurs="0"/>
				<xs:element ref="sequenceId"/>
				<xs:element ref="entityIdDistribution" minOccurs="0"/>
				<xs:element ref="context" minOccurs="0"/>
				<xs:element ref="contextSize" minOccurs="0"/>
				<xs:element ref="docId" minOccurs="0"/>
				<xs:element ref="tokenizerType" minOccurs="0"/>
				<xs:element ref="attributes" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="reference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="channelName" type="xs:string"/>
	<xs:element name="charOffset">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="begin"/>
				<xs:element ref="end"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="committedBeliefs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.CommittedBelief" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="confidence" type="xs:float"/>
	<xs:element name="contentType" type="xs:string"/>
	<xs:element name="context" type="xs:string"/>
	<xs:element name="contextSize" type="xs:int"/>
	<xs:element name="coreferenceId" type="xs:string"/>
	<xs:element name="coreferences">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="adept.common.Coreference"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="default">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="maxSize"/>
				<xs:element ref="size"/>
				<xs:sequence>
					<xs:element ref="channelName" minOccurs="0"/>
					<xs:element ref="contentType" minOccurs="0"/>
					<xs:element ref="document" minOccurs="0"/>
					<xs:element ref="language" minOccurs="0"/>
					<xs:element ref="textValue" minOccurs="0"/>
					<xs:element ref="tokenizerType"/>
					<xs:element ref="transcriptType"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="dependencies">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Dependency" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dependencyType" type="xs:string"/>
	<xs:element name="dependent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="docId" type="xs:string"/>
	<xs:element name="docType" type="xs:string"/>
	<xs:element name="document">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="docId"/>
				<xs:element ref="docType"/>
				<xs:element ref="uri" minOccurs="0"/>
				<xs:element ref="language" minOccurs="0"/>
				<xs:element ref="tokenStreamList"/>
				<xs:element ref="headline" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="reference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="edu.columbia.SocialEventDetection.beans.Cognition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="relationType"/>
				<xs:element ref="arguments"/>
				<xs:element ref="confidence"/>
				<xs:element ref="target1"/>
				<xs:element ref="target2"/>
				<xs:element ref="relationText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="end" type="xs:long"/>
	<xs:element name="entities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Entity" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="entity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="entityId"/>
				<xs:element ref="entityType"/>
				<xs:element ref="name" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="entityId">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:long">
					<xs:attribute name="defined-in">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="adept.common.Entity"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="entityIdDistribution">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entry"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="entityMentions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.EntityMention" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="entityName" type="xs:string"/>
	<xs:element name="entityType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="reference" type="xs:string"/>
			<xs:attribute name="class">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="adept.common.Type"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="entry">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="long"/>
					<xs:element ref="float"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="string" maxOccurs="unbounded"/>
					<xs:element ref="set" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="float" type="xs:decimal"/>
	<xs:element name="governor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id" minOccurs="0"/>
				<xs:element ref="value" minOccurs="0"/>
				<xs:element ref="tokenStream" minOccurs="0"/>
				<xs:element ref="tokenOffset" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="reference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="headline" type="xs:string"/>
	<xs:element name="id">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element ref="id"/>
				<xs:element ref="idStr"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="idStr" type="xs:string"/>
	<xs:element name="int" type="xs:int"/>
	<xs:element name="judgment">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NEGATIVE"/>
				<xs:enumeration value="POSITIVE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="kbEntityDistribution">
		<xs:complexType/>
	</xs:element>
	<xs:element name="l" substitutionGroup="any"/>
	<xs:element name="language" type="xs:string"/>
	<xs:element name="lemma" type="xs:string"/>
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="default"/>
				<xs:element ref="int"/>
				<xs:choice>
					<xs:element ref="adept.common.Pair" maxOccurs="unbounded"/>
					<xs:element ref="adept.common.Token" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="long" type="xs:long"/>
	<xs:element name="maxSize" type="xs:long"/>
	<xs:element name="mentionType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
			</xs:sequence>
			<xs:attribute name="class">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="adept.common.Type"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="modality">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="COMMITTED_BELIEF"/>
				<xs:enumeration value="NON_ATTRIBUTABLE_BELIEF"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="namedEntities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.EntityMention" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="noveltyConfidence" type="xs:decimal"/>
	<xs:element name="opinionId" type="xs:long"/>
	<xs:element name="opinions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Opinion" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="paraphrases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Paraphrase" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="partOfSpeechs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.PartOfSpeech" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="passages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Passage"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="polarity">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NEGATIVE"/>
				<xs:enumeration value="POSITIVE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="posTag">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
			</xs:sequence>
			<xs:attribute name="class">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="adept.common.Type"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="r" substitutionGroup="any"/>
	<xs:element name="relationId" type="xs:long"/>
	<xs:element name="relations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Relation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="edu.columbia.SocialEventDetection.beans.Cognition" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="relationText" type="xs:string"/>
	<xs:element name="relationType" substitutionGroup="tupleType"/>
	<xs:element name="resolvedEntityMentions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.EntityMention" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sarcasmId" type="xs:long"/>
	<xs:element name="sarcasms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Sarcasm" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="scType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
			</xs:sequence>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="adept.common.Type"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="sentences">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Sentence" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sequenceId" type="xs:long"/>
	<xs:element name="set">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="size" type="xs:long"/>
	<xs:element name="slot">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="slotId"/>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="reference">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="../../adept.common.Triple/slot"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="edu.cmuml.NELLSlot"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="slotId">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="speakerId" type="xs:long"/>
	<xs:element name="string" type="xs:string"/>	
	<xs:element name="subjectivity">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="OBJECTIVE"/>
				<xs:enumeration value="SUBJECTIVE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="syntacticChunks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.SyntacticChunk" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="class" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="linked-list"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="target">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="id"/>
				<xs:element ref="entityId" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="entityName"/>
			</xs:sequence>
			<xs:attribute name="reference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="target1" substitutionGroup="target"/>
	<xs:element name="target2" substitutionGroup="target"/>
	<xs:element name="textValue" type="xs:string"/>
	<xs:element name="tokenizerType" type="xs:string"/>
	<xs:element name="tokenOffset">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="begin"/>
				<xs:element ref="end"/>
			</xs:sequence>
			<xs:attribute name="reference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tokenStream">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="unserializable-parents"/>
				<xs:element ref="list"/>
				<xs:element ref="adept.common.TokenStream"/>
			</xs:sequence>
			<xs:attribute name="serialization" type="xs:string"/>
			<xs:attribute name="reference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tokenStreamList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.TokenStream" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tokenType" type="xs:string"/>
	<xs:element name="transcriptType" type="xs:string"/>
	<xs:element name="triples">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Triple" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tupleType">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="type" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="reference" type="xs:string"/>
			<xs:attribute name="class">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="adept.common.Type"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="type" substitutionGroup="tupleType"/>
	<xs:element name="typeInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entry" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="uncertaintyConfidence" type="xs:decimal"/>
	<xs:element name="unserializable-parents">
		<xs:complexType/>
	</xs:element>
	<xs:element name="uri" type="xs:string"/>
	<xs:element name="utterance" type="xs:string"/>
	<xs:element name="utteranceId" type="xs:long"/>
	<xs:element name="utterances">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Utterance" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="value" type="xs:string"/>
	<xs:element name="tvalue">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="valueId"/>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="reference">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="../../adept.common.Triple/tvalue"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="edu.cmuml.NELLValue"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="valueId" type="xs:long"/>

</xs:schema>