adept-api/src/main/resources/adept/common/Opinion.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--***************************************************************************
 * Raytheon BBN Technologies Corp., December 2014
 * 
 * THIS CODE IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS
 * OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
 * 
 * Copyright 2014 Raytheon BBN Technologies Corp.  All Rights Reserved.
 ***************************************************************************-->

<!--W3C Schema generated by XMLSpy v2013 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="value" type="xs:string"/>
	<xs:element name="uri" type="xs:string"/>
	<xs:element name="unserializable-parents">
		<xs:complexType/>
	</xs:element>
	<xs:element name="uncertaintyConfidence">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="transcriptType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SOURCE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tokenizerType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="STANFORD_CORENLP"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tokenStreamList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.TokenStream"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tokenStream">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="unserializable-parents"/>
				<xs:element ref="list"/>
				<xs:element ref="adept.common.TokenStream"/>
			</xs:sequence>
			<xs:attribute name="serialization">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="custom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="reference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tokenOffset">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="begin"/>
				<xs:element ref="end"/>
			</xs:sequence>
			<xs:attribute name="reference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="textValue" type="xs:string"/>
	<xs:element name="subjectivity">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="OBJECTIVE"/>
				<xs:enumeration value="SUBJECTIVE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="size">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="504"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sequenceId" type="xs:short"/>
	<xs:element name="sentences">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Sentence" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="polarity">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NEGATIVE"/>
				<xs:enumeration value="POSITIVE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="passages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Passage"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="opinions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adept.common.Opinion" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="noveltyConfidence">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="default"/>
				<xs:element ref="int"/>
				<xs:element ref="adept.common.Token" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="language">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="English"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="int">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="504"/>
				<xs:enumeration value="679"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="idStr" type="xs:string"/>
	<xs:element name="id">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element ref="id"/>
				<xs:element ref="idStr"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="headline" type="xs:string"/>
	<xs:element name="end" type="xs:short"/>
	<xs:element name="document">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="docId"/>
				<xs:element ref="docType"/>
				<xs:element ref="uri"/>
				<xs:element ref="language"/>
				<xs:element ref="tokenStreamList"/>
				<xs:element ref="headline"/>
			</xs:sequence>
			<xs:attribute name="reference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="docType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" WEB TEXT "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="docId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" STILLALONEWOLF_20050102.1100.eng.LDC2005E83 "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="default">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="size"/>
				<xs:sequence>
					<xs:element ref="channelName"/>
					<xs:element ref="contentType"/>
					<xs:element ref="document"/>
					<xs:element ref="language"/>
					<xs:element ref="textValue"/>
					<xs:element ref="tokenizerType"/>
					<xs:element ref="transcriptType"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="contentType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="TEXT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="confidence">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="charOffset">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="begin"/>
				<xs:element ref="end"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="channelName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NONE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="begin" type="xs:short"/>
	<xs:element name="adept.common.TokenStream">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="default" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="reference">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="../../../../.."/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Token">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="charOffset"/>
				<xs:element ref="sequenceId"/>
				<xs:element ref="confidence"/>
			</xs:sequence>
			<xs:attribute name="reference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Sentence">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="charOffset"/>
				<xs:element ref="sequenceId"/>
				<xs:element ref="uncertaintyConfidence"/>
				<xs:element ref="noveltyConfidence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Passage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="charOffset"/>
				<xs:element ref="sequenceId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.Opinion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="value"/>
				<xs:element ref="tokenStream"/>
				<xs:element ref="tokenOffset"/>
				<xs:element ref="charOffset"/>
				<xs:element ref="subjectivity"/>
				<xs:element ref="polarity" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adept.common.HltContentContainer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="sentences"/>
				<xs:element ref="passages"/>
				<xs:element ref="opinions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
